html{
    font-family: 'Jura', sans-serif;
    font-size:40px;
}
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    grid-template-rows:repeat(3,100px);
    grid-gap: 12px 12px;
    margin:40px;
}
#title{
    margin-top: 30px;
}
.cell{
    /* background:blue; */
    box-sizing:border-box;
    border: 1px solid #F0B193;
    display:flex;
    align-items:center;
    justify-content: center;
    align-content: center;
    font-size: 80px;
    border-radius: 5%;
    box-shadow: 10px 24px 21px -11px rgb(226 98 40 / 75%);
    -webkit-box-shadow: 4px 5px 5px 4px rgb(226 98 40 / 75%);
    -moz-box-shadow: 10px 24px 21px -11px rgba(226,98,40,0.75);
}
.player{
    /* border: 3px solid #ea5915; */
    background-color: #ea5915;
    /* background-color:green; */
    /* text-align:center; */
}