.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    grid-template-rows:repeat(3,100px);
    grid-gap:3px 3px;    
}
.cell{
    background:blue;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: 'Kalam', cursive;
    font-size:100px;
    border-radius:4%;
}
.player{
    background-color:green;
    text-align:center;
}