html{
    font-family: 'Jura', sans-serif;
    font-size:30px;
}
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#board{
    display:grid;
    grid-template-columns: repeat(3,130px);
    grid-template-rows:repeat(3,130px);
    grid-gap: 2px 2px;
    margin:20px 40px;
}
#title{
    margin:5px;
}
#restart,
#result{
    margin:10px;
}
.box {
    --b:1;   /* border length (without unit!!)*/
    --c:15;  /* the cube perspective (without unit!!)*/
    --g:calc((var(--c) - var(--b))*0.707px); /* 0.707 = cos(45deg) = sin(45deg) */
    margin: 10px;
    display: inline-block;
    border-style:solid;
  }
.cell{
    display:flex;
    align-items:center;
    justify-content: center;
    align-content: center;
    font-size: 80px;
    text-align:center;
    border-width:calc(var(--c)*1px) calc(var(--c)*1px) calc(var(--b)*1px) calc(var(--b)*1px);border-image-slice: var(--c) var(--c) var(--b) var(--b);border-image-source: linear-gradient(-45deg,transparent var(--g),#eae9e9 0 calc(100% - var(--g)),transparent 0);
}
.player-x{    
    border-image-source: linear-gradient(-45deg,transparent var(--g),#e76423 0 calc(100% - var(--g)),transparent 0);
}
.player-o{
    border-image-source: linear-gradient(-45deg,transparent var(--g),#2f405a 0 calc(100% - var(--g)),transparent 0);
}
.hover{
    border-image-source: linear-gradient(-45deg,transparent var(--g),#d6dbe4 0 calc(100% - var(--g)),transparent 0);

}
button{
    font-family: inherit; /* 1 */
    font-size: 30px; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    --c:2;
    border-width:calc(var(--c)*1px) calc(var(--c)*1px) calc(var(--b)*1px) calc(var(--b)*1px) ;
    border-image-slice: var(--c) var(--c) var(--b) var(--b);
    border-image-source:linear-gradient(-45deg,transparent var(--g),#d6dbe4 0 calc(100% - var(--g)),transparent 0);
    background:none;
}
button:hover{
    border-image-source: linear-gradient(-45deg,transparent var(--g),black 0 calc(100% - var(--g)),transparent 0);
}

button:active{
	transform: scale(1);
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}